@model RADProject.Models.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make.makeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make.makeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img src="@Model.ImageUrl" alt="A Car Image" width="300" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
