@model IEnumerable<RADProject.Models.Model>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.typeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDoors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModelId })
        </td>
    </tr>
}

</table>
